.roundWrapper {
  border: solid 1px #4a94eb;
  background-color: #f0eeee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.squareWrapper {
  border: solid 1px #4a94eb;
  background-color: #ffffff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25px;
  height: 23px;
}

.primaryWrapper {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.primaryWrapper svg,
.roundWrapper svg {
  cursor: pointer;
}

.primaryWrapper svg path,
.roundWrapper svg path,
.squareWrapper svg path {
  transition: fill 0.3s ease;
}

.primaryWrapper svg:hover path,
.roundWrapper svg:hover path {
  cursor: pointer;
  fill: black;
}

.squareWrapper:hover {
  background-color: #4a94eb;
}

.squareWrapper:hover svg path {
  fill: #ffffff;
}

.IconButtonWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.IconButtonText {
  font-size: 14px;
  font-weight: 300;
  color: #8a8a8a;
}
