.userInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.userInfoText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.userNickName {
  font-size: 10px;
  font-weight: 600;
}

.userRole {
  font-size: 11px;
  font-weight: 400;
}
