.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.5px 14px;
  background-color: #ffffff;
  box-shadow: 0px 3.56298px 3.56298px 0px rgba(0, 0, 0, 0.10);
  z-index: 1;
}
